<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
     
    <bean id="filmRepository" class="fr.utbm.dvdstore.corestore.repository.JdbcFilmDao" />
   
    <bean id="defaultFilmService" class="fr.utbm.dvdstore.corestore.service.DefaultFilmService"> 
        <property name="filmDao" ref="filmRepository" >
    </bean>
    
    <bean id= "defaultFilmController"  class="fr.utbm.dvdstore.corestore.controller.DefaultFilmController">
        <property name="filmService" ref="defaultFilmService">
    </bean>
    
</beans>
